<hr>
<div class="row">
  <div class="col-md-12">
    <form action="" class="shopping-edit-form">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" #nameInput class="form-control" name="name" id="name" placeholder="Name">
        </div>
        <div class="form-group col-md-3">
          <label for="amount">Amount</label>
          <input type="number" #amountInput class="form-control" name="amount" id="amount" placeholder="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary" (click)="onAddIngredient()">Add</button> |
          <button class="btn btn-info">Clear</button> |
          <button class="btn btn-danger">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>